.homepage{
position: relative;
height: 100vh;
width: 100%;
}

.background-image{
  position:absolute;
  top:0;
  left:0;
  background-image: url('../../../Utils/background-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;

}
.background-overlay{
    position: absolute;
    top: 0;
    left:0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 0.5 represents 50% opacity */

}
.content{
    position: relative;
    z-index: 1;
    height: 100%;
}
.background-navbar{
       background-color: rgba(0, 0, 0, 0.5 ); 
       box-shadow: 0px 0px 10px rgba(0, 0, 0, 1); /* Shadow effect */
       z-index: 9;

    ;
}

.body-content{
     position:absolute;
     top:0;
     left:0;
    /* display: flex; */
    /* flex:1;  */
    width: 100%;
     height: 100%;
}

.font_casual{
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 2rem;
}
.font_heading{
  font-family:"Anton";
  font-size:2.5rem;
  color:white
}

@media (max-width:560px) {
    .background-image {
      background-image: none;
      background-color: black;
    }
    .font_casual{
      font-family: 'Times New Roman', Times, serif;
      color: white;
      font-size: 1rem;
    }
    .font_heading{
      font-family:"Anton";
      font-size:'2rem';
      color:white
    }
  }